{%include 'publicheader.html'%}
	<center>
	<h1>Login</h1>
	<form method="post">
		<table border="2" bgcolor="light blue" >
			<tr>
				<th>Username</th>
				<td><input type="text" name="uname"></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><input type="password" name="psd"></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" name="submit"></td>
			</tr>
		</table>
	</form>
	<style type="text/css">
		th{
			text-align: left;
			color: white;
			font-family: all;
		}
	</style>
	</center>
{%include 'footer.html'%}